<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentManagementSystemV1.0</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.xzsj.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOutServlet</display-name>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>com.xzsj.servlet.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/LoginOutServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.xzsj.users.HttpSessionListenerImp</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.xzsj.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.xzsj.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>OneFilter</filter-name>
    <filter-class>com.xzsj.Filter.OneFilter</filter-class>
    <init-param>
      <param-name>encode</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>OneFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>FindStuServlet</display-name>
    <servlet-name>FindStuServlet</servlet-name>
    <servlet-class>com.xzsj.servlet.FindStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindStuServlet</servlet-name>
    <url-pattern>/FindStuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindStuScoreServlet</display-name>
    <servlet-name>FindStuScoreServlet</servlet-name>
    <servlet-class>com.xzsj.servlet.FindStuScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindStuScoreServlet</servlet-name>
    <url-pattern>/FindStuScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStuServlet</display-name>
    <servlet-name>AddStuServlet</servlet-name>
    <servlet-class>com.xzsj.servlet.AddStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStuServlet</servlet-name>
    <url-pattern>/AddStuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStuScoreServlet</display-name>
    <servlet-name>AddStuScoreServlet</servlet-name>
    <servlet-class>com.xzsj.servlet.AddStuScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStuScoreServlet</servlet-name>
    <url-pattern>/AddStuScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelStuServlet</display-name>
    <servlet-name>DelStuServlet</servlet-name>
    <servlet-class>com.xzsj.servlet.DelStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelStuServlet</servlet-name>
    <url-pattern>/DelStuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltStuServlet</display-name>
    <servlet-name>AltStuServlet</servlet-name>
    <servlet-class>com.xzsj.servlet.AltStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltStuServlet</servlet-name>
    <url-pattern>/AltStuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltStudentServlet</display-name>
    <servlet-name>AltStudentServlet</servlet-name>
    <servlet-class>com.xzsj.servlet.AltStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltStudentServlet</servlet-name>
    <url-pattern>/AltStudentServlet</url-pattern>
  </servlet-mapping>
</web-app>